---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div>
    <ul class="mb-8">
      <li>
        <strong>DevOps Engineer/Systems Engineer:</strong>
        Delivered numerous projects for clients, ensuring their tech dreams come
        true with a sprinkle of coding magic.
      </li>
      <li>
        <strong>Developer:</strong>
        Passionate Golang enthusiast, harnessing the power of Kubernetes to create
        robust and scalable applications that make a positive impact.
      </li>
      <li>
        <strong>Microservice Specialist:</strong> Specialized in Kubernetes and ISTIO
        Service Mesh, weaving together microservices like a digital architect, building
        bridges to connect seamless experiences.
      </li>
      <li>
        <strong>Certifications:</strong> Certified Kubernetes Security Specialist
        (CKS), Certified Kubernetes Administrator (CKA), RedHat Certified Engineer
        (RHCE), RedHat Certified System Administrator (RHCSA) - a certified rockstar
        with a collection of badges.
      </li>
      <li>
        <strong>Mentoring:</strong> Passionate about sharing knowledge and guiding
        fellow tech enthusiasts, helping them unlock their potential in Linux technologies.
      </li>
      <li>
        <strong>Project/Account Management:</strong> Experience as a Project Manager
        for notable ventures, making sure everything runs smoothly and everyone feels
        like a valued team member.
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Technology - MTech"
      subtitle="2019 to 2021 at Federation University Australia"
    />
    <TimeLineElement
      title="Computer systems and networking"
      subtitle="2013 to 2016 at Sri Lanka Institute of Information Technology"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="DevOps Engineer at CM3 - Wesfarmers"
      subtitle="From APR 2024 to Present"
    />
    <TimeLineElement
      title="DevOps Engineer at Aligent"
      subtitle="From Nov 2021 to APR 2024"
    />
    <TimeLineElement
      title="DevOps Engineer at Uniti Internet"
      subtitle="From Jan 2021 to Nov 2021 at Uniti Wireless"
    />
    <TimeLineElement
      title="DevOps Consultant | Freelancer"
      subtitle="From Jan 2019 to Jan 2021"
    />
    <TimeLineElement
      title="Systems Engineer at  ITCONNECT (Pvt) Ltd"
      subtitle="From Dec 2016 to Dec 2021"
    />
    <TimeLineElement
      title="Systems Engineer at iPhonik (Pvt) Ltd"
      subtitle="From Jan 2016 to Dec 2016"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credly.com/badges/2f1bb228-e11a-4b53-a13c-b3828075c707/linked_in_profile" target="_blank">CKS: Certified Kubernetes Security Specialist</a>
    </li>
    <li>
      <a href="https://www.youracclaim.com/badges/b84d8b3c-022f-4a3d-bb65-040546b4a920?source=linked_in_profile" target="_blank">CKA: Certified Kubernetes Administrator</a>
    </li>
    <li>
      <a href="https://www.youracclaim.com/badges/5db844aa-c57f-43a5-b511-42ba19fc9ee6?source=linked_in_profile" target="_blank">HashiCorp Certified: Terraform Associate</a>
    </li>
    <li>
      <a href="#" target="_blank">RHCE - RedHat Certified Engineer</a>
    </li>
    <li>
      <a href="#" target="_blank">RHCSA - RedHat Certified System Administrator</a>
    </li>
  </ul>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div> -->

  <!-- <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Amazon Web Services (AWS)</li>
    <li>Golang</li>
    <li>Typescript</li>
    <li>Terraform</li>
    <li>CDK</li>
    <li>Docker</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul> -->
</BaseLayout>
