---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Greetings, Digital Explorers! 👋</div>
    <div class="text-5xl font-bold">I'm Krishan Thisera</div>
    <div class="text-3xl py-3 font-bold">Platform | DevOps engineer</div>
    <div class="py-2">
      <text class="text-lg">
        Hello! I'm Krishan, a DevOps Specialist with expertise in 
        sectors like  Telco, Internet, and e-commerce. I excel in microservices transformation and 
        bespoke system design. This blog will cover DevOps nuances, from workflow optimization to process automation, 
        interspersed with stories from my mentoring experiences. Join me on this exploration!🚀 
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/krishan-thisera/"
        target="_blank"
      >
        Let's connect!</a
      >
      <a
        href="https://github.com/krishanthisera"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Sometimes I code on GitHub 🍻
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Highlights {"</>"}</div>
  </div>

  <HorizontalCard
    title="AWS Lambda at Edge Functions"
    img="https://bizkt.imgix.net/projects/lambda-at-edge.png"
    desc="Terraform sub-module designed for use with the AWS Static Hosting module."
    url="https://github.com/krishanthisera/aws-edge-functions"
    badge="NEW"
  />
  <HorizontalCard
    title="CKS-Challenges"
    img="https://bizkt.imgix.net/projects/cks.jpeg"
    desc="This is a solution for the Certified Kubernetes Security Specialist Challenge Series from KodeKloud, which provides a comprehensive set of challenges designed to prepare Kubernetes professionals for the CKS certification"
    url="https://github.com/krishanthisera/CKS-Challenges"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Why should you consider to adopt Service Mesh"
    img="https://bizkt.imgix.net/projects/istio-k8s.jpg"
    desc="This is a brief overview of why you should consider adopting Service Mesh with your existing Kubernetes cluster."
    url="https://www.linkedin.com/pulse/why-should-you-consider-adopt-service-mesh-krishan-thisera?trk=public_profile_article_view"
  />
  <div class="divider my-0"></div>
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
