---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects and Contributions</div>
  </div>

  <HorizontalCard
    title="AWS Lambda at Edge Functions"
    img="https://bizkt.imgix.net/projects/lambda-at-edge.png"
    desc="Terraform sub-module designed for use with the AWS Static Hosting module."
    url="https://github.com/krishanthisera/aws-edge-functions"
  />
  <HorizontalCard
    title="Repmgr Haproxy Daemon"
    img="https://bizkt.imgix.net/projects/golang.png"
    desc="Go-Lang Daemon to track Postgres switch-overs"
    url="https://github.com/krishanthisera/harepd"
  />
  <HorizontalCard
    title="Istio Certmanager POC"
    img="https://bizkt.imgix.net/projects/istio-k8s.jpg"
    desc="POC implementation of Istio with Certmanager"
    url="https://github.com/krishanthisera/istio-certman-poc"
  />
  <HorizontalCard
    title="How to host a static website in AWS using Terraform"
    img="https://bizkt.imgix.net/projects/terraform.png"
    desc="This repository contains a sample infrastructure as code (IaC) using Terraform to host a static website/blog."
    url="https://github.com/krishanthisera/aws-static-hosting"
  />
  <HorizontalCard
    title="The Blog"
    img="https://bizkt.imgix.net/projects/astro.png"
    desc="This is the source code of my blog. It is built using Astro and hosted in AWS."
    url="https://github.com/krishanthisera/blog"
  />
  <HorizontalCard
    title="GitOps for Devs"
    img="https://bizkt.imgix.net/projects/GitOps.png"
    desc="This repository contains Kubernetes configurations for deploying the Album App, which consists of both frontend and backend components. The configurations are based on Helm charts, and they are intended to be used in a GitOps workflow with ArgoCD."
    url="https://github.com/krishanthisera/album-app-config"
    badge="Coming Soon"
  />
</BaseLayout>
