---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Krishan Thisera
  </div>
  <div class="inline opacity-75">
    <a href="https://github.com/krishanthisera" target="_blank" class="font-bold">Friendly Neighborhood DevOps Engineer</a>
  </div>
</footer>
<style>

</style>
