<style>
  .banner {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease, transform 0.5s ease;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .banner.show {
    bottom: 20px;
    transform: scale(1);
  }

  .banner h2,
  .banner p {
    margin: 0;
    color: #333;
  }

  .ok-button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    background-color: hsl(var(--b2) / var(--tw-bg-opacity));;
    color: #111111;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .ok-button:hover {
    background-color: hsl(var(--b3) / var(--tw-bg-opacity));;;
  }
</style>

<div class="banner">
  <h1>📢 Just a quick heads-up 🚧</h1>
  <p>Hey there, awesome readers! I'm currently migrating the blog 🛠. </p>
  <p>
    It's an exciting upgrade that will bring a whole
    new level of awesomeness to your reading experience! 🌟
  </p>
  <p>
    I want to thank you from the bottom of my heart for your patience.
    Seriously, you rock! 🙌
  </p>
  <p>Stay tuned 📻, Keep coding and stay awesome!</p>
  <button id="okButton" class="ok-button">OK</button>
</div>

<script>
  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(";");
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  var consentCookie = getCookie("bannerMigrating");

  if (consentCookie !== "true") {
    var banner = document.querySelector(".banner");
    banner.classList.add("show");

    document.getElementById("okButton").addEventListener("click", function () {
      banner.classList.remove("show");
      setCookie("bannerMigrating", "true", 1);
    });
  }
</script>

<div
  class="sticky lg:hidden top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-all duration-100 bg-base-100 text-base-content shadow-sm"
>
  <div class="navbar">
    <div class="navbar-start">
      <label for="my-drawer" class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"
          ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-xl" href="/">Krishan Thisera</a>
    </div>
    <div class="navbar-end"></div>
  </div>
</div>
